* {
  bg0     : #100706;
  bg1     : #100706;
  bg2     : #100706;
  bg3     : #f9752f;
  fg0     : #f3d8aa;
  fg1     : #f3d8aa;
  fg2     : #f3d8aa;

  red     : #f9752f;
  green   : #f9752f;
  yellow  : #f9752f;
  blue    : #f9752f;
  magenta : #f9752f;
  cyan    : #f3d8aa;
  
  accent  : @green;
  urgent  : @yellow;
}

