* {
  bg0     : #1e1715;
  bg1     : #1e1715;
  bg2     : #1e1715;
  bg3     : #eb614a;
  fg0     : #f4f4f4;
  fg1     : #f4f4f4;
  fg2     : #f4f4f4;

  red     : #eb614a;
  green   : #eb614a;
  yellow  : #eb614a;
  blue    : #eb614a;
  magenta : #eb614a;
  cyan    : #f4f4f4;
  
  accent  : @green;
  urgent  : @yellow;
}

